*.iml
.gradle
/local.properties
/.idea/caches
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin/
local.properties
app/google-services.json
## 여기 앱 사양 체크 부탁드려요
app/best_float32.tflite
app/model
